body{
  background-color: #D7DFD7;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0px;

}
h1{
  margin: 0px;
  padding: 0px;
}

header{
  background-color: #005D4B;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #005D4B;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 3.5%;
    height: 3.5%;
    margin-top:-2px;
    margin-left:18px;
    border-radius: 3px;
}
h1{
  Width: 10%;
  margin-left: 10%;
}
.logs {
  width:25px;
  height:25px;
  padding-right: 15px;
}
nav{
  color: white;
  margin
}
#menu{
  background-color:  #1a6f55;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
button{
  position: relative;
  border: 0px;
  /*background-color: #f44336;*/
}
#ajout{
  box-shadow: 1px 1px 3px rgba(255, 0, 0, 0.12), 0 1px 2px rgba(255, 0, 0, 0.24);
  position:absolute;
  right:25px;
  top:85px;
  border-radius: 400%;
  font-weight: bold;
  font-size: 2.5em;
  color: white;
  background-color: #f44336;
  border: 0;
  width: 50px;
  height: 50px;
}
#ajout:hover{
  box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.39), 0 6px 6px rgba(255, 0, 0, 0.33);
  transition-timing-function:ease-in-out;
  transition-duration: 0.4s;
  transition-property: all;
  font-size: 3.5em;
  width: 60px;
  height: 65px;
  top: 80px;
  right: 20px;
}

#boutonF{
  position: absolute;
  left: -55px;
  top: 47px;
  /*box-shadow: 1px 1px 3px rgba(255, 0, 0, 0.12), 0 1px 2px rgba(255, 0, 0, 0.24);*/
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;

}
#boutonF:hover{
  left: 0;
  /*box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.39), 0 6px 6px rgba(255, 0, 0, 0.33);*/
  transition-timing-function:ease-in-out;
  transition-duration: 0.4s;
  transition-property: all;

}
nav ul{
  list-style-type: none;
  display: flex;
  margin: 0px;
}
nav li{
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.right li{
  color: black;
  /*background-color:  #E0E0E0;
  border: 0.5px solid  #E0E0E0;*/
}
#rech{
  display:flex;
  margin-left: 37.5%;
  width:25%;
  /*border: 1px solid black;*/
}
/*#rech:hover{
  margin-left: 37.5%;
  width:25%;
}
#rech:focus{
  margin-left: 37.5%;
  width:25%;
  border: 1px solid black;
}*/
.loupe{

  width:15px;
  height:15px;
  vertical-align: text-bottom;
}
.search{

  border-radius: 8px;
  opacity:0;
}
.search:hover{
  width: 90%;
  transition-timing-function:ease-out;
  transition-duration: 0.7s;
  transition-property: opacity;
  opacity: 0.5;
}
.search:focus{
  width: 90%;

  opacity: 1;
}

#fenetre{

  background-color:  #D7DFD7;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}
article{

}
.note{
  width:60%;
  background-color: white;
  /*border:0.5px solid #607D8B;*/
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: box-shadow 0.2s ease-in-out;
}
.note:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition-timing-function:ease-out;
  transition-duration: 0.2s;
  transition-property: box-shadow;
}
.note p{
  display: block;
  padding:0 15px 15px 15px;
  text-align: justify;
}
h3{
    display: block;
    margin: 0;
    background-color: #02a94f;
    color: white;
    text-align:center;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}
footer{
  background-color: white;
  padding-bottom: 0px;
  margin-bottom: 0;
  text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
