body{
  background-color: #D7DFD7;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0px;

}
h1{
  margin: 0px;
  padding: 0px;
  width: 10%;
  margin-left: 10%;
  color:white;
  transition-timing-function:ease-in;
  transition-duration: 0.7s;
  transition-property: all;
}

h1:hover {
  color: #f44336;
  transition-timing-function:ease-out;
  transition-duration: 0.7s;
  transition-property: all;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

.delete {
  text-decoration: none;
  font-weight: bolder;
}

td,th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

header{
  background-color: #005D4B;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #005D4B;
}

.pseudonyme {
  display: inline;
  position:relative;
  color:#EEE;
  font-weight:bold;
  text-shadow: 0px 5px 15px #30CD8C;
  top:2px;
  right:50px;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;
}
#logo img{
  width: 60%;
  height: 60%;
  margin-top:2px;
  margin-left:18px;
  border-radius: 3px;
}
.right{
  margin-right: 5%;
}

.logs {
  width:25px;
  height:25px;
  padding-right: 15px;
}
nav{
  color: white;

}
#menu{

  background-color:  #1a6f55;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
button{
  position: relative;
  border: 0px;
  /*background-color: #f44336;*/
}

.note aside {
  display:flex;
  flex-direction: column;
  margin-left: 50px;
  padding-left: 5px;
  color:rgb(110,150,175);
  padding-bottom: 10px;

}

.envoiCommentaire {
  padding-top: 5px;
}

.comment {
  border-radius: 5px;
  resize: none;
}

.com {
  border-left: 1px solid rgb(110,150,175);
  padding-left: 10px;
  padding-right: 50px;
}

.texteCom {
  font-size: 0.8em;
}

.texteQuest {

  text-align: justify;
}

.question article {
  padding-top: 10px;
}

pre {
  margin-left: 60px;
  margin-right: 60px;
}
code {
  border: 1px solid black;
}

.ajout{
  box-shadow: 1px 1px 3px rgba(255, 0, 0, 0.12), 0 1px 2px rgba(255, 0, 0, 0.24);
  position:absolute;
  right:25px;
  top:73px;
  border-radius: 400%;
  font-weight: bold;
  font-size: 2.5em;
  color: white;
  background-color: #f44336;
  border: 0;
  width: 50px;
  height: 50px;
  outline:none;
  cursor:pointer;
}
.ajout:hover{
  box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.39), 0 6px 6px rgba(255, 0, 0, 0.33);
  transition-timing-function:ease-in-out;
  transition-duration: 0.4s;
  transition-property: all;
  font-size: 3.5em;
  width: 60px;
  height: 65px;
  top: 66px;
  right: 20px;
}

#boutonF{
  position:absolute;
  top:60px;
  left: 35px;
  height: 35px;
  width: 35px;
}
nav ul{
  list-style-type: none;
  display: flex;
  margin: 0px;
}
nav li{
  margin-right:8%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.right li{
  color: black;
  /*background-color:  #E0E0E0;
  border: 0.5px solid  #E0E0E0;*/
}
#rech{
  display:flex;
  width:25%;
  /*border: 1px solid black;*/
}
/*#rech:hover{
  margin-left: 37.5%;
  width:25%;
}
#rech:focus{
  margin-left: 37.5%;
  width:25%;
  border: 1px solid black;
}*/
.loupe{

  width:15px;
  height:15px;
  vertical-align: text-bottom;
  outline: none;
  cursor:pointer;
}
.search{

  border-radius: 8px;
  width: 90%;
  transition-timing-function:ease-out;
  transition-duration: 0.7s;
  transition-property: opacity;
  opacity: 0.3;
  margin-right: 5px;
  border: none;
  outline:none;
  padding-left: 7px;
}

.search:hover{
  opacity: 1;
}

.search:focus{
  width: 90%;
  opacity: 1;
}

h5 {
  padding:0;
  padding-left: 15px;
  margin:0;
  margin-bottom: 5px;
}

#fenetre{

  background-color:  #D7DFD7;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}
article{
  border-bottom: 1px solid rgb(110,150,175);
}

#artQuest {
  border-bottom: 2px solid rgb(110,150,175);
  background-color: #EFEFEF;
}

h3 span {
  margin-left: 5px;
  font-size:0.8em;
}
h6 {
  margin:0;
  padding:0;
  padding-top: 5px;
  text-align: center;
  background-color: #EFEFEF;
}

.note{
  width:60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: box-shadow 0.2s ease-in-out;
}
.note:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.26), 0 6px 30px rgba(0, 0, 0, 0.23);
  transition-timing-function:ease-out;
  transition-duration: 0.2s;
  transition-property: box-shadow;
}

.question{
  width:60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: box-shadow 0.2s ease-in-out;
}
.question:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition-timing-function:ease-out;
  transition-duration: 0.2s;
  transition-property: box-shadow;
}

.wysiwyg{
  background-color: green;
}
article p{
  display: block;
  padding:0 15px 15px 15px;
  text-align: justify;
}
h3{
    display: block;
    margin: 0;
    background-color: #02a94f;
    color: white;
    text-align:center;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.titreQuestion1 {
  display: block;
  margin: 0;
  background-color: #Ef7060;
  color: white;
  text-align:center;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.titreQuestion2 {
  display: block;
  margin: 0;
  background-color: #3370FF;
  color: white;
  text-align:center;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.resolved {
  background-color: #BBFFBB;
}

#commentaire{
  border: 0;
  position: relative;
  bottom:50px;
  left:-17.5px;
  width: 35px;
  height: 37px;
  background-color: #f44336;
  border-radius: 300px;
  color:white;
  font-weight: bolder;
  font-size: 1.4em;
  outline: none;
  cursor:pointer;
}
.precsuiv {
  display: block;
  color:white;
  margin-left:43%;
  border: 1px solid green;
  background-color: green;
  border-radius: 3px;
  padding-left: 10px;
  width:150px;
}
.precsuiv a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

footer{
  background-color: white;
  padding-bottom: 0px;
  margin-bottom: 0;
  text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
